@use "@material/theme" with (
  $primary: #512DA8,
  $secondary: #00796B,
  $background: #c7c7c7,
);
@use "material-components-web";
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/drawer";
@use "@material/list";
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/card";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";
@use "@material/snackbar/mdc-snackbar";

@include card.core-styles;
@include textfield.core-styles;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px auto;
}

.app-bar {
  position: absolute;
}

#spanGastos {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}


.mdc-top-app-bar {

  z-index: 7;
  @include icon-button.core-styles;
}

.tab-bar-botom {
  position: fixed;
  bottom: -0.5em;
  width: 100%;
}

section {
  text-align: center;
}

.content {
  margin: 2rem auto;
  padding-bottom: 20rem;
  text-align: center;
}

.initial-content {
  margin: 10rem auto;
  padding-bottom: 20rem;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.user-links {
  font-size: 12px;
  color: grey;
  text-decoration: none;
}

.actions {
  margin: 5rem 0 2rem 0;
}

.main-hidden {
  display: none;
}

.initial-content-hidden {
  display: none;
}

.initial-content-hidden {
  display: none;
}

.content--hidden {
  display: none;
}

.mdc-tab {
  background-color: #67daff;
}

.mdc-tab__content .mdc-tab__text-label {
  color: black;
}

.mdc-text-field {
  margin: 1rem auto;
}

.button {
  margin-top: 1rem;
}

.mdc-snackbar__actions .mdc-button__label {
  color: #67daff;
}

.add-form {
  display: flex;
  flex-direction: column;
}